<div class="details-container pt-3">
    <div class="cont-rows">
        <table class="table table-borderless" style="text-align: center;">

            <tbody>
                <tr>
                    <td id="detail-name" class="pt-3">Name of the course</td>
                    <td id="detail-gama" class="pt-3">:</td>
                    <td class="form-group pt-3">
                        <select class="form-control" style="max-width: 400px;">
                            <option>Choose...</option>
                            <option>2</option>
                            <option>3</option>
                            <option>5</option>
                            <option>6</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td id="detail-name" class="pt-3">Name of the Branch</td>
                    <td id="detail-gama" class="pt-3">:</td>
                    <td class="pt-3">
                        <select class="form-control" style="max-width: 400px;">
                            <option>Choose...</option>
                            <option>2</option>
                            <option>3</option>
                            <option>5</option>
                            <option>6</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td id="detail-name" class="pt-3">Name of the Students with initial at end</td>
                    <td id="detail-gama" class="pt-3">:</td>
                    <td class="pt-3">
                        <select class="form-control" style="max-width: 400px;">
                            <option>Choose...</option>
                            <option>2</option>
                            <option>3</option>
                            <option>5</option>
                            <option>6</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td id="detail-name" class="pt-3">Name of the course</td>
                    <td id="detail-gama" class="pt-3">:</td>
                    <td class="pt-3">
                        <select class="form-control" style="max-width: 400px;">
                            <option>Choose...</option>
                            <option>2</option>
                            <option>3</option>
                            <option>5</option>
                            <option>6</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td id="detail-name" class="pt-3">Name of the course</td>
                    <td id="detail-gama" class="pt-3">:</td>
                    <td class="pt-3">
                        <select class="form-control" style="max-width: 400px;">
                            <option>Choose...</option>
                            <option>2</option>
                            <option>3</option>
                            <option>5</option>
                            <option>6</option>
                        </select>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>