<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- Header -->
<header id="head-01">
  <div class="head-logo">
    <img style="height: 120px; width: 150px;" src="assets/logo.png" alt="">
  </div>
  <div class="head">
    <p id="title" style="font-size: 2rem;color: beige; font-weight: bold;">DIRECTORATE OF TECHNICAL EDUCATION</p>
    <p id="sub-title" style="font-size: 1.5rem; color: beige; font-weight: 500;">GOVERNMENT OF TAMILNADU</p>
  </div>
</header>
<!-- Login -->

<app-login></app-login>
<!-- <app-details-form></app-details-form> -->

<br>
<!--Footer-->

<footer id="head-02">
  <div class="head-02">
    <p style="font-size: 1.3rem;color: beige">
      For any queries - contact us
    </p>
    <p style="font-size: 1.3rem;color: beige">
      E-mail : gcesalem.edu@gmail.com
    </p>
    <div class="mobile-rows">
      <div class="mobile-rows-01">
        <i class="fa fa-mobile" style="font-size: 40px; color: beige;"></i>
      </div>
      <div class="mobile-rows-02" style="color: beige">- 1234567890</div>
    </div>
    <div class="mobile-rows">
      <div class="mobile-rows-01">
        <i class="fa fa-mobile" style="font-size: 40px; color: beige;"></i>
      </div>
      <div class="mobile-rows-02" style="color: beige;">- 1234567890</div>
    </div>
  </div>
</footer>