<div class="" style="height: 50px; width: 50px;" (click)="toggle()">
    <img *ngIf="!toggleStyle" src="./assets/menu.png" alt="" style="height: 30px; width: 30px; margin-top: 10px;">
    <img *ngIf="toggleStyle" src="./assets/cancel.png" alt="" style="height: 30px; width: 30px; margin-top: 10px;">
</div>
<!-- <div class="details-container pt-3"> -->
<div *ngIf="toggleStyle" class="cont-navbar">
    <table>
        <tr class="active">
            <td class="table1">GO NUMBER 2020_15-11-2021
            </td>
        </tr>
        <tr>
            <td class="table1">Notification 2
            </td>
        </tr>
        <tr>
            <td class="table1">Notification 3
            </td>
        </tr>
        <tr>
            <td class="table1">Notification 4
            </td>
        </tr>
        <tr>
            <td class="table1">Notification 5
            </td>
        </tr>
        <tr>
            <td class="table1">Notification 6
            </td>
        </tr>
        <tr>
            <td class="table1">Notification 7
            </td>
        </tr>
        <tr>
            <td class="table1">Notification 8
            </td>
        </tr>
        <tr>
            <td class="table1">Notification 9
            </td>
        </tr>
        <tr>
            <td class="table1">Notification 10
            </td>
        </tr>
    </table>
</div>
<!-- </div> -->