<br>
<br>
<label for="">sdfsdfs</label>
<input type="text" name="" id="" value="{{name1}}" readonly>
<br>
<br>
<label for="">sdfsdfs</label>
<input type="text" name="" id="" value="{{stud_name}}" readonly>
<br>
<br>
<label for="">sdfsdfs</label>
<input type="text" name="" id="" value="{{tancet}}" readonly><br>
<br>
<label for="">sdfsdfs</label>
<input type="text" name="" id="" value="{{gate}}" readonly>
<br>
<br>
<label for="">sdfsdfs</label>
<input type="text" name="" id="" value="{{history_arrear}}" readonly><br>
<br>
<label for="">sdfsdfs</label>
<input type="text" name="" id="" value="{{attendance}}" readonly><br>
<br>
<label for="">sdfsdfs</label>
<input type="text" name="" id="" value="{{account_no}}" readonly><br>
<br>
<label for="">sdfsdfs</label>
<input type="text" name="" id="" value="{{bank_name}}" readonly><br>
<br>
<label for="">sdfsdfs</label>
<input type="text" name="" id="" value="{{ifsc_code}}" readonly>